<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="utf-8">
		<title>Vista de la encusta</title>
		<link rel="stylesheet" href="../static/css/style.css">
		</head>
<body>
<header>
<h1>Seguimiento de los votos</h1>
</header>
<ol>
			<nav class="barra"> 
			<li><a href="Index.html">Inicio</a></li>
			<li> <a href="Votantes.html">Votantes</a> </li> 
			<li> <a href="Estadodelavotacion.html">Resultados</a> </li>
			<li> <a href="Registro.html">Votar!</a> </li>          
		    </nav>
	  </ol>
</body>
</html>