<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Inicio</title>
		<link rel="stylesheet" href="../static/css/style.css">
		</head>
	<body>
		<header>
			<h1>Votaciones 2022</h1>	
			</header>
	  <ol>
			<nav class="barra"> 
			<li><a href="Index.html">Inicio</a></li>
			<li> <a href="Votantes.html">Votantes</a> </li> 
			<li> <a href="Estadodelavotacion.html">Resultados</a> </li>
			<li> <a href="Registro.html">Votar!</a> </li>          
		    </nav>
	  </ol>
  <section id="section5">
    <br>
    <footer>
    	<p> 2022. Conferencias Virtuales - Guemes 670 - Telefono (388)3456765 S.S.de Jujuy</p>
    </footer>
  </section>
	</body>
</html>