

.imagen{
	height: 250px;
}

.logo{
	width:4em;
	
}

.logo-footer{
	width:10em;
}

.neon-blue{
	border: solid #04d9ff;
	color: #04d9ff;
}

.neon-blue:HOVER{
    color: #ffffff;
    background: #04d9ff;
    box-shadow: 0 0 50px #04d9ff;
}

.agendaH{
	heigth: 100%;
	padding: 0px 25%;
	font-family:inherit;
	margin: auto;
}

.barra{
display: flex;
}